<%= render partial: "games/menu" %>
<h1>Zelda Monsters</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>First Apperance</th>
    <tr>
    <% @monsters.each do |monster|%>
        <tr>
            <td><%= link_to monster.name, monster_path(monster) %></td>
            <td><%= monster.description%></td>
            <% if monster.game_uuid.present? %>
                <td><%= link_to monster.game_uuid, game_path(monster.game_uuid) %></td>
            <% end %>
        </tr>
    <% end %>
</table>