<nav>
    <ul>
        <li><a href="http://127.0.0.1:3000/">About</a></li>
        <li><a href="http://127.0.1:3000/search">Search</a></li>
        <li><a href="http://127.0.0.1:3000/games">Games</a></li>
        <li><a href="http://127.0.0.1:3000/characters">Characters</a></li>
        <li><a href="http://127.0.0.1:3000/places">Places</a></li>
        <li><a href="http://127.0.0.1:3000/monsters">Monsters</a></li>
        <li><a href="http://127.0.0.1:3000/bosses">Bosses</a></li>
    </ul>
</nav>