<%= render partial: "games/menu" %>
<h1>Zelda Bosses</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>First Apperance</th>
    <tr>
    <% @bosses.each do |boss|%>
        <tr>
            <td><%= link_to boss.name, boss_path(boss) %></td>
            <td><%= boss.description%></td>
            <td><a href="#"><%= boss.game_uuid%></a></td><!--link to games-->
        </tr>
    <% end %>
</table>