<h1><%= @show.name%></h1>
<table>
    <tr>
        <td>Description: <%= @show.description%></td>
        <td>First Apperance: <%= @show.game_uuid%></td><!--link to game-->
        <% if @show.character_uuid.present?%>
            <td>First Inhabitant: <%= @show.character_uuid%></td> <!--link to character-->
        <% end %>
    </tr>
<table>